/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 64px;
}


/* Home page styles */
.homePage {
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
}

button {
  padding: 10px 30px;
  background-color: yellow;
  border: solid 2px blue;
  box-shadow: 3px 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 300ms;
}

form {
  text-align: center;
}

.numberOfUser {
  font-size: 20px;
}


/* Results page styles */
#resultsPage {
  padding: 20px;
}

/* Watched page styles */
#watchedPage {
  padding: 20px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 767px) {
  /* Mobile devices */
  #homePage, #resultsPage, #watchedPage {
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet devices */
  #homePage, #resultsPage, #watchedPage {
    padding: 15px;
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop devices */
  #homePage, #resultsPage, #watchedPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }
}
